In [ ]:
# Task 01
class Student:
   def __init__(self, name='Just a student', dept='nothing'):
     self.__name = name
     self.__department = dept
   def set_department(self, dept):
     self.__department = dept
   def get_name(self):
     return self.__name
   def set_name(self,name):
     self.__name = name
   def __str__(self):
    return 'Name: '+self.__name+ '  Department: '+self.__department

#write your code here
class BBA_Student(Student):
   def __init__(self, name = "Default", dept = "BBA"): 
       super().__init__(name, dept)
             

s1 = BBA_Student()
s2 = BBA_Student('Humpty Dumpty')
s3 = BBA_Student('Little Bo Peep')
print(BBA_Student())
print(BBA_Student('Humpty Dumpty'))
print(BBA_Student('Little Bo Peep'))

Name: Default  Department: BBA
Name: Humpty Dumpty  Department: BBA
Name: Little Bo Peep  Department: BBA

In [ ]:
# Task 02
class Vehicle:
     def __init__(self):
         self.x = 0
         self.y = 0

     def moveUp(self):
         self.y+=1
     def moveDown(self):
         self.y-=1
     def moveRight(self):
         self.x+=1
     def moveLeft(self):
         self.x-=1
     
     def __str__(self):
         return '('+str(self.x)+' , '+str(self.y)+')'

#write your code here
class Vehicle2010(Vehicle) :
     def moveUpperRight(self):
        Vehicle.moveUp()     # self, super(), Vehicle .mehodName() - any can be used
        Vehicle.moveRight()
     def moveUpperLeft(self):
        super().moveUp()
        super().moveLeft()
     def moveLowerLeft(self):
        self.moveDown()
        self.moveLeft()
     def moveLowerRight(self):
        super().moveDown()
        super().moveRight()

     def equals(self, other):   #  Using this in the parent Class would make more it more practical as we can then implement this method to other new classes by inheriting it from the parent class hence avoiding redundancy
        if self.x == other.x and self.y == other.y :
          return True
        else :
          return False

print('Part 1')
print('------')
car = Vehicle()
print(car)
car.moveUp()
print(car)
car.moveLeft()
print(car)
car.moveDown()
print(car)
car.moveRight()
print(car)
print('------')
print('Part 2')
print('------')
car1 = Vehicle2010()
print(car1)
car1.moveLowerLeft()
print(car1)
car2 = Vehicle2010()
car2.moveLeft()
print(car1.equals(car2))
car2.moveDown()
print(car1.equals(car2))

Part 1
------
(0 , 0)
(0 , 1)
(-1 , 1)
(-1 , 0)
(0 , 0)
------
Part 2
------
(0 , 0)
(-1 , -1)
False
True

In [ ]:
# Task 03
class Tournament:
     def __init__(self,name='Default'):
         self.__name = name
     def set_name(self,name):
         self.__name = name
     def get_name(self):
         return self.__name

#write your code here
class Cricket_Tournament(Tournament):
     def __init__(self, name = "Default", no_of_team = 0, ptype = "No type"):
         super().__init__(name)
         self.no_of_team = no_of_team
         self.ptype = ptype
     
     def detail(self):
        return "Cricket tornament name: " + (self.get_name())+ "\n" + "Number of teams: " + str(self.no_of_team)  + "\n" +"Type: " + str(self.ptype)

class Tennis_Tournament(Tournament):
    def __init__(self, name , players): 
        super().__init__(name)
        self.players = players
    
    def detail(self):
       return "Tennis tornament name: " + self.get_name() + "\n" + "Number of teams: " + str(self.players) 

ct1 = Cricket_Tournament()
print(ct1.detail())
print("-----------------------")
ct2 = Cricket_Tournament("IPL",10,"t20")
print(ct2.detail())
print("-----------------------")
tt = Tennis_Tournament("Roland Garros",128)
print(tt.detail())

Cricket tornament name: Default
Number of teams: 0
Type: No type
-----------------------
Cricket tornament name: IPL
Number of teams: 10
Type: t20
-----------------------
Tennis tornament name: Roland Garros
Number of teams: 128

In [ ]:
# task 04
class Product:
      def __init__(self,id, title, price):
           self.__id = id
           self. __title = title
           self. __price = price
      def get_id_title_price(self):
          return "ID: "+str(self.__id)+" Title: "+self.__title+"Price: "+str(self.__price)

#write your code here
class Book(Product): 
      def __init__(self,id, title, price, isbn, publisher) :
           super().__init__(id, title, price)
           self.isbn = isbn
           self.publisher = publisher

      def printDetail(self):
           return self.get_id_title_price() + "\n" + "ISBN: " + self.isbn + " Publisher: " + self.publisher     

class CD(Product):
      def __init__(self,id, title, price, band, duration, genre) :
           super().__init__(id, title, price)
           self.band = band
           self.duration = duration
           self.genre = genre

      def printDetail(self):
           return self.get_id_title_price() + "\n" + "Band: " + self.band + " Duration: " + str(self.duration) +"minutes" + "\n" + "Genre: " + self.genre  

book = Book(1,"The Alchemist",500,"97806","HarperCollins")
print(book.printDetail())
print("-----------------------")
cd = CD(2,"Shotto",300,"Warfaze",50,"Hard Rock")
print(cd.printDetail())

ID: 1 Title: The AlchemistPrice: 500
ISBN: 97806 Publisher: HarperCollins
-----------------------
ID: 2 Title: ShottoPrice: 300
Band: Warfaze Duration: 50minutes
Genre: Hard Rock

In [ ]:
# Task 05

class Animal:
  def __init__(self,sound):
    self.__sound = sound
  def makeSound(self): 
    return self.__sound

class Printer:
   def printSound(self, a):
      print(a.makeSound())

#write your code here
class Dog(Animal):
    def __init__(self,sound):
        super().__init__(sound)

class Cat(Animal): 
     def __init__(self, sound): 
        super().__init__( sound)        


d1 = Dog('bark')
c1 = Cat('meow')
a1 = Animal('Animal does not make sound')
pr = Printer()
pr.printSound(a1)
pr.printSound(c1)
pr.printSound(d1)

Animal does not make sound
meow
bark

In [ ]:
# Task 06
class Shape:
   def __init__(self, name='Default', height=0, base=0):
        self.area = 0
        self.name = name
        self.height = height
        self.base = base
  
   def get_height_base(self):
        return "Height: "+str(self.height)+",Base: "+str(self.base)

#write your code here
class triangle(Shape): 
   
    def calcArea(self): 
       area = 0.5 * self.height * self.base
       self.area += area
       return area

    def printDetail(self): 
       return "Shape name: " +self.name + "\n" + "Height: "+ str(self.height)+ "  Base: "+ str(self.base)+ " \n"+ "Area: " + str(float(self.area))


class trapezoid(Shape): 
     def __init__(self, name , height, base, side):
       super().__init__(name, height, base)
       self.side = side

     def calcArea(self): 
       area = 0.5 * (self.base+ self.side) * self.height
       self.area += area
       return area    
     
     def printDetail(self): 
        return "Shape name: " +self.name + "\n" + "Height: "+ str(self.height) +"  Base: "+ str(self.base)+ "  Side_A: " + str(self.side) + " \n"+ "Area: " + str(float(self.area))


tri_default = triangle()
tri_default.calcArea()
print(tri_default.printDetail())
print('--------------------------')
tri = triangle('Triangle', 10, 5)
tri.calcArea()
print(tri.printDetail())
print('---------------------------')
trap = trapezoid('Trapezoid', 10, 6, 4)
trap.calcArea()
print(trap.printDetail())

Shape name: Default
Height: 0  Base: 0
Area: 0.0
--------------------------
Shape name: Triangle
Height: 10  Base: 5
Area: 25.0
---------------------------
Shape name: Trapezoid
Height: 10  Base: 6  Side_A: 4
Area: 50.0

In [ ]:
# Task 07
class Football:
     def __init__(self, team_name, name, role):
           self.__team = team_name
           self.__name = name
           self.role = role
           self.earning_per_match = 0
     def get_name_team(self):
           return 'Name: '+self.__name+', Team Name: ' +self.__team

#write your code here
class Player(Football):
      def __init__(self, team_name , name , role , goals, played_games): 
          super().__init__(team_name, name, role)
          self.goal = goals
          self.tplayed = played_games
     
      def calculate_ratio(self):
          ratio = self.goal / self.tplayed
          self.ratio = ratio
      
      def print_details(self):
          earning = (self.goal * 1000) + (self.tplayed *10)
          self.earning_per_match += earning
          print(f'{self.get_name_team()} \nTeam Role: {self.role} \nTotal Goal: {self.goal}, Total Played: {self.tplayed} \nGoal Ratio: {self.ratio} \nMatch Earning: {self.earning_per_match}K')
         
class Manager(Football):
      def __init__(self, name , team_name , role , wins): 
          super().__init__(name, team_name, role)
          self.wins =  wins
                 
      def print_details(self):
          earning = (self.wins * 1000) 
          self.earning_per_match += earning
          print(f'{self.get_name_team()} \nTeam Role: {self.role} \nTotal Win: {self.wins} \nMatch Earning: {self.earning_per_match}K')



player_one = Player('Juventus', 'Ronaldo', 'Striker', 25, 32)
player_one.calculate_ratio()
player_one.print_details()
print('------------------------------------------')
manager_one = Manager('Real Madrid', 'Zidane', 'Manager', 25)
manager_one.print_details()

Name: Ronaldo, Team Name: Juventus
Team Role: Striker
Total Goal: 25, Total Played: 32
Goal Ratio: 0.78125
Match Earning: 25320K
------------------------------------------
Name: Zidane, Team Name: Real Madrid
Team Role: Manager
Total Win: 25,
Match Earning: 25000K